# Demo mode
# export SNOWNIX_ENV="demo"

export AWS_CUSTOM_S3=true
export AWS_STORAGE_S3=true

export AWS_S3_BUCKET="snownix"

export AWS_PORT=9000
export AWS_SCHEME="https://"
export AWS_REGION="us-east-1"
export AWS_HOST="localhost"
export AWS_ASSET_HOST="https://localhost:9000/snownix/"

export AWS_ACCESS_KEY_ID=minio
export AWS_SECRET_ACCESS_KEY=minio123

export GITHUB_CLIENT_ID="dad80d238850a8aead4e"
export GITHUB_CLIENT_SECRET="1f7cee688ac704ed5b4f75412391a2d30e8d30d4"

export GOOGLE_CLIENT_ID="510441527997-jrlrjpaid8bg61a5vl022qnpvuivpos4.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="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"

export TWITTER_CONSUMER_KEY="1IRr2rB7rZOezTjgDGv51d85d"
export TWITTER_CONSUMER_SECRET="sagDD9rRQ4hgXuJeS3TNW6QyKlW7fMZe4M7ePK6qZGIV8a3soz"
